.thtextalign{
    text-align: center !important;
}
.custmTbl{
    th,td{
        padding : 0.5rem 2rem !important;
} 
}

.nodatamsg{
    text-align: center;
    color: #e3b430 !important;
    font-size: 22px;
  }

.form-control{
    font-size: 0.8rem !important;
}


.mb-1 {
    display:block;
  }

.custmbtn{
    padding : 0.1rem 0.5rem !important;
    font-size: 0.8rem !important;
}

.megaBtn button{
    font-size: 0.8rem !important;
}

.btncustom{
    font-size: 0.7rem !important;
}

.chkcount{
    font-weight: bold;
    color:red;
}