.custmTbl{
  th,td{
      padding : 0.5rem 1.5rem !important;
      font-size: 8.5px !important;
      //color: black !important;
}
}
.custmTbl input{
  width: 65px !important;
}

.contentbody input{
  width: 250px !important;
}

.blankrow{
  background-color: lightgray;
}
.subservicecss{
  font-weight: bold !important;
}
