.alert-light-danger {
  background-color: #FEEFD0 !important;
  color: #F55252  !important;
  border-color: #FEEFD0;
}

.errormessage{
  color: #F55252  !important;
  font-size: 10px;
}

.swal2-title {

  font-size: 6px !important;
}


.logtype {
  background-color: green;
  color: white;
}
