.nodatamsg{
  text-align: center;
  color: #e3b430 !important;
  font-size: 22px;
}
.table th{
  padding : 0.5rem 0.5rem !important;
  font-size:10px !important;
}
.table td{
  padding : 0.5rem 0.5rem !important;
  font-size:10px !important;
}
#pagination{
  text-align: right !important;
}

// .viewfeed{
//   font-size: 6px !important;
// }
