.nodatamsg{
    text-align: center;
    color: #e3b430 !important;
    font-size: 22px;
}
.myCustomModalClass .modal-dialog {
    max-width: 1200px;
  }

  .custmTbl{
    th,td{
        padding : 0.5rem 2rem !important;
        white-space: nowrap;
        font-size: 0.8rem !important;
    }
} 