.custmTbl{
    th,td{
        padding : 0.5rem 1rem !important;
        font-size: 0.7rem !important;
}
}

.thtextalign{
    text-align: left !important;
}
.form-control{
    font-size: 0.7rem !important;
}


.customInput{
    width: 50px !important;
}

.textboxsize{
  width:200px !important;
}

