.table th{
  padding : 0.5rem 0.5rem !important;
}
.table td{
  padding : 0.5rem 0.5rem !important;
}
.mapsearchgrid{
  margin-right: 10px !important;
}

.thtextalign{
  text-align: center !important;
}




.nodatamsg{
  text-align: center !important;
  color: #e3b430 !important;
  font-size: 22px;
}

.form-control{
  font-size: 0.8rem !important;
}


.mb-1 {
  display:block;
}

.custmbtn{
  padding : 0.1rem 0.5rem !important;
  font-size: 0.8rem !important;
}

.megaBtn button{
  font-size: 0.8rem !important;
}

.btncustom{
  font-size: 0.7rem !important;
}
