.customselectcss{
  width:70px;height:23px;font-size: 10px !important;padding: 3px !important;
}

.color-red{
color: red;
font-weight: bold;
}

.color-green{
color: green;
font-weight: bold;
}

.warningerror{
text-align: center;
color: rgb(214, 57, 57)
}
.nodatamsg{
  text-align: center;
  color: #e3b430 !important;
  font-size: 22px;
  margin-top : 30px;
}

.tblCustomethtd{
  padding: 0.5rem 0.8rem
}

.exlclmhide{
  display: none;
}

.buttonCss{
text-align: center;
min-width: 160px !important;
}

.space {
  width: 15px;
  height: auto;
  display: inline-block;
}

.thtextalign{
  text-align: center !important;
}

.custmTbl{
  th,td{
      padding : 0.5rem 1rem !important;
      font-size: 0.7rem !important;
}
.mandatory{
  color: red;
  margin-top:10px;
}
label{
  font-size: 0.7rem !important;
}

}

.radio label{
  font-size: 8px !important;
}

.form-control{
  font-size: 0.8rem !important;
}


.mb-1 {
  display:block;
}

.custmbtn{
  padding : 0.1rem 0.5rem !important;
  font-size: 0.8rem !important;
}

.megaBtn button{
  font-size: 0.8rem !important;
}

.btncustom{
  font-size: 0.7rem !important;
}



